<html lang="en">
    <%-include('./partials/header.ejs') %>
    <body>
        <%-include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>BLOG Page</h2>
            <p>Post your blogs</p>
            
        </div>
        <%-include('./partials/footer.ejs') %>
    </body>
</html>